.map{
  position: relative;
  display: flex;
  justify-content: center;
}

.map img{
  width: 70%;
  height: auto;
}

.landmark img{
  width: 40px;
  position: absolute;
  top: 157px;
  left: 252px;
}